torch==2.1.0
torchvision==0.16.0
pandas==2.0.3
transformers==4.30.2
accelerate==0.21.0
datasets==2.15.0
matplotlib==3.3.4
opencv-python==4.8.1.78
colorthief==0.2.1
clip-interrogator==0.6.0
Flask==3.0.2
